:root {
    --main-color: #6b5b95;
    --secondary-color: #a2b9bc;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    background-color: var(--main-color);
    top: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.shop-name {
    color: #ffffff;
    font-size: 7vh;
    cursor: pointer;
}

main {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background-color: var(--main-color);
    height: 55vh;
    width: 25vw;
    border: 1px solid black;
    border-radius: 5%;
    margin: 1rem;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card-img {
    background-color: #ffffff;
    margin-top: 2.5vh;
    height: 20vw;
    width: 20vw;
}

.card-name {
    color: #ffffff;
    font-size: 2rem;
}

.card-button-container {
    display: flex;
    justify-content: center;
}

.card-button {
    text-align: center;
    width: 25%;
    margin-left: 3px;
    cursor: pointer;
    padding: 1vh 1vw;
    background-color: var(--secondary-color);
    transition: 0.3s;
}

.info {
    display: none;
    top: 15vh;
    left: 10vw;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 70vh;
    width: 70vw;
    background-color: var(--main-color);
    border-radius: 5%;
    z-index: 9;
    padding: 0 5vw;
}

#dark-curtain {
    display: none;
    z-index: 8;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.info-img {
    height: 20vw;
    width: 20vw;
    background-color: #ffffff;
}

.info-title {
    color: #ffffff;
    text-align: center;
}

.info-desc {
    text-align: justify;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.info-button {
    text-align: center;
    width: 35%;
    margin-left: 3px;
    cursor: pointer;
    padding: 1vh 1vw;
    background-color: var(--secondary-color);
    transition: 0.3s;
}